/* tailwind css config */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Dana", "tahoma", "ubuntu";
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: inherit;
  font-weight: 400;
}

.Toastify__toast {
  font-family: Dana, tahoma, sans-serif !important;
}